---
title: "Nanra Branco"
layout: default
permalink: "/author-nanra-branco.html"
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}} <span class="small btn btn-outline-success btn-sm btn-round"><a href="{{ site.authors.Nanra.instagram }}">Seguir</a></span></h2>
                <p><a href="{{ site.authors.Nanra.site }}">{{ site.authors.Nanra.site }}</a></p>
                <p class="excerpt">{{ site.authors.Nanra.bio }}</p>
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.authors.Nanra.name }}" src="{{site.baseurl}}/{{ site.authors.Nanra.avatar }}" class="rounded-circle" height="100" width="100">
            </div>
        </div>
        <h4 class="font-weight-bold spanborder"><span>Publicações</span></h4>
            {% assign posts = site.posts | where:"author","Nanra" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}
    </div>
</div>
</div>