<script>

var oldSubscribe, oldSubscribeDiv;
var email;
function enviar() {
	email = subscribeForm.elements["EMAIL"].value || " ";
	if (email.indexOf("@") == -1) {
		document.getElementById("subscribeFormErro").style = "display:block; color:red;";
		return false; //Não encontrou
	}

	oldSubscribe = document.getElementById("subscribe").style;
	oldSubscribeDiv = document.getElementById("subscribeDiv").style;
	document.getElementById("subscribe").style = 'background-image:url("/assets/images/enviar.gif"); background-position: center; background-repeat: no-repeat;';
	document.getElementById("subscribeDiv").style = "visibility:hidden";


	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		console.log(this.readyState, " ", this.status);
    if (this.readyState == 4) {
			if (this.status == 200 && xhttp.responseText === "OK!!" ) {
				var msg = '<b>O e-mail ' + email + ' foi cadastrado.';
				msg = msg + ' 👍 </b>';
				msg = msg + 'Enviamos uma mensagem para você! 😎 Então, corre para conferir a sua caixa de entrada. 😀 Se o email não chegar nos próximos minutos 🤞, não deixe de verificar se ele não ficou parado na sua caixa de spam. 👍';

				document.getElementById("subscribeDiv").innerHTML = msg;
			}
			else {
				document.getElementById("subscribeFormMsg").innerHTML = "<b>Não consegui cadastrar o seu e-mail. 😢 Por favor, tente novamente!</b>";
			}
			document.getElementById("subscribe").style = oldSubscribe;
			document.getElementById("subscribeDiv").style = oldSubscribeDiv;

		}
		console.log(this);
		console.log(xhttp.responseText);
  };
	
  xhttp.open("GET", "https://us-central1-site-d5a10.cloudfunctions.net/cadastrarEmailNewsletter?e=" + email);
	xhttp.send();

	
  return false; //Não enviar o formulário
}

function desligaErro() {
	document.getElementById("subscribeFormErro").style = "display:none";
}
</script>